@{
    ViewData["Title"] = "Home Page";
}
<head>
    <title>作品界面</title>
    <link rel="stylesheet" href="./css/work_style.css" />
</head>
<body>
    <div class="container" style="width:960px">
        <div class="row">
            <div id="show_photo" style="position:absolute;left:480px;top:60px;width:960px;height:720px;">
                <img :src="work_photo" style="width:100%; height:100%" />
            </div>


            <div class="textcontainer" style="width:960px;">

                <div id="header" style="width:960px;">

                    @*<img src="/image/work_res/Animation.png" alt="label" style="position:absolute;left:1260px;top:800px" />*@
                    <img src="/image/work_res/complain.png" onclick="complain()" alt="投诉" id="complain" style="position:absolute;left:1380px;top:810px" />
                </div>
                <div id="headline-component" style="position:absolute;left:480px;top:810px">
                    {{ works.headline }}
                </div>

                <div id="introduction-component" style="position:absolute;left:480px;top:840px">
                    {{ works.introduction }}
                </div>

                <div id="label_component" style="position:absolute;left:1260px;top:800px" align="right">

                    <div v-for="p in label">
                        <div v-if="p==='Animation'">

                            <img src="/image/work_res/Animation.png" alt="{{p}}" />

                        </div>
                        <div v-else-if="p==='Illustration' ">
                            <a :href="turnurl">
                                <img src="/image/work_res/Illustration.png" alt="{{p}}" />
                            </a>
                        </div>
                        <div v-else-if="p==='Painting' ">
                            <a :href="turnurl">
                                <img src="/image/work_res/Painting.png" alt="{{p}}" />
                            </a>
                        </div>
                        <div v-else-if="p==='Photograph' ">
                            <a :href="turnurl">
                                <img src="/image/work_res/Photograph.png" alt="{{p}}" />
                            </a>
                        </div>
                        <div v-else-if="p==='UI_Design' ">
                            <a :href="turnurl">
                                <img src="/image/work_res/UI_Design.png" alt="{{p}}" />
                            </a>
                        </div>
                    </div>


                </div>



                <div id="follow-component" style="position:absolute;left:490px;top:940px">
                    <img :src="follow_photo" v-on:click="follow()" alt="follow" id="follow" />
                </div>

                <div id="avatar_component" style="position:absolute;left:480px;top:940px">
                    <a target="_blank" href="//weibo.com/">
                        <img alt="新用户" :src="head_photo" style="width:50%; height:50%" />
                    </a>
                </div>
                <div id="user-component" style="position:absolute;left:615px;top:945px">
                    {{ works.user_name}}
                </div>

                <div id="likes_component">
                    <img :src="likes_photo" v-on:click="addLikes" style="position:absolute;left:1100px;top:940px" />
                    <div v-for="u in works" style="position:absolute;left:1140px;top:940px">
                        <label v-model="likes">{{ likes }}</label>
                    </div>
                </div>

                <div id="collect-component">
                    <img :src="collect_photo" v-on:click="addCollect" style="position:absolute;left:1200px;top:940px" />
                    <div v-for="u in works" style="position:absolute;left:1240px;top:940px">
                        <label v-model="collect">{{ collect }}</label>
</div>
                </div>

                <div id="download-component">
                    <img src="/image/work_res/download.png" v-on:click="ifEnoughPoint" alt="download" id="download" style="position:absolute;left:1300px;top:940px" />
                </div>

                <div id="point-component">
                    <div style="position:absolute;left:1345px;top:940px">
                        <div v-for="u in works">
                            {{ u.points_need }}
                        </div>
                    </div>
                </div>



                <div id="footer" style="width:960px;">
                    @*<img src="/image/work_res/follow.png" onclick="followChangeImg()" alt="关注" id="follow" style="position:absolute;left:490px;top:940px" />
                    <img src="/image/work_res/avatar.png" alt="作者头像" style="position:absolute;left:480px;top:940px" />
                    <img src="/image/work_res/like.png" onclick="likeChangeImg()" alt="点赞" id="like" style="position:absolute;left:1100px;top:940px" />
                    <img src="/image/work_res/collect.png" onclick="collectChangeImg()" alt="收藏" id="collect" style="position:absolute;left:1200px;top:940px" />
                    <img src="/image/work_res/download.png" onclick="download()" alt="下载" id="download" style="position:absolute;left:1300px;top:940px" />*@

                    @*<span style="position:absolute;left:1140px;top:945px">num</span>
                    <span style="position:absolute;left:1240px;top:945px">num</span>
                    <span style="position:absolute;left:1345px;top:945px">point</span>*@
                </div>

            </div>
        </div>
        <div id="user_head" style="position:absolute;left:480px;top:1020px">

            <textarea class="W_input" style="overflow:hidden;height:23px;width:800px;resize:none;"></textarea>
            <button class="btn btn-primary">评论</button>
        </div>
        @*<div class="comment_list" style="position:absolute;left:480px;top:1100px">
            <a target="_blank" href="//weibo.com/">
                <img alt="欢迎新用户" src="./image/work_res/head_portrait.png" />
            </a>
            <a class="comment" target="_blank" href="//weiboooo.com/">
                bbbbbb
            </a>
            <br>
            <span class="comment">
                sadjgkasjgd
            </span>
        </div>*@


        <div id="comment_pjjjjublish" style="position:absolute;left:480px;top:1020px">
            <form asp-controller="PictureInfo" asp-action="AddComment">
                <input type="text" style="overflow:hidden;height:23px;width:800px;" name="words" />
                <input type="submit" style="position:absolute;width:100px;left:810px;top:0px" value="评论" />
            </form>
        </div>







        <div id="comment_list_component" style="position:absolute;left:480px;top:1100px">
            <div v-for="c in comments">
                <a target="_blank" href="//weibo.com/">
                    <img alt="新用户" src="/image/work_res/head_portrait.png" />
                </a>
                <a class="comment" target="_blank" href="//weiboooo.com/">
                    {{c.user_ID}}-{{c.work_ID}}-  {{c.user_name}}
                </a>
                <br>content<br>
                <span class="content">
                    {{c.content}}
                </span>
                @*<button class="btn btn-primary btn-block" v-on:click="refreshData">REFRESH</button>*@
            </div>
        </div>



        <div id="subscriber-list-component" style="position:absolute;left:480px;top:1600px">
            <h3>WayKurat Subscribers </h3>
            <div v-if="isViewReady == true">
                <ol>
                    <li v-for="c in subscribers">
                        {{c.likes_num}}
                    </li>

                </ol>
                <button class="btn btn-primary btn-block" v-on:click="refreshData">REFRESH</button>
            </div>
            <div v-else>
                <div>Loading data...</div>
            </div>
        </div>
    </div>
    <script>
        function followChangeImg() {
            var obj = document.getElementById("follow")
            obj.setAttribute("src", "../../image/work_res/followed.png")
        }
        function likeChangeImg() {
            var obj = document.getElementById("like")
            obj.setAttribute("src", "../../image/work_res/liked.png")
        }
        function collectChangeImg() {
            var obj = document.getElementById("collect")
            obj.setAttribute("src", "../../image/work_res/collected.png")
        }
        function download() {
            alert("you have downloaded the work successfully!")
        }
        function complain() {
            alert("you have complained the work successfully!")
        }
    </script>
</body>

@section Scripts{
    <script src="~/lib/vue/vue.js"></script>
    <script src="~/lib/axios/axios.js"></script>
    <script src="~/js/VueWork.js"></script>
}