@{
    ViewData["Title"] = "Administrator";
}

<style>
    .div_style1 {
        position: absolute;
        background: #fff;
        border: 1px solid #000;
    }

    .div_style2 {
        position: absolute;
        background: #fff
    }
</style>

<div class="div_style1" style="left: 300px; top: 300px; width: 120px; height: 120px">
    <img src="@ViewData["HeadPortraitURL"]" width="120" height="120" />
</div>

<div class="div_style2" style="width: 600px; height: 190px; left: 450px; top: 360px">
    <h1>@ViewData["Name"]</h1>
</div>
