.avatar {
    width: 100%;
    height: 100%;
}

.avatarBox {
    border-radius: 6px;
    width: 36px;
    height: 36px;
    overflow: hidden;
}

.Logo {
    font-weight: 600;
    font-size: 20px;
}

.search-box {
    width: 300px;
    height: 36px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 20px;
}

.search-btn {
    height: 25px;
    width: 25px;
    top: 15px;
    background: url("../../image/Header/SearchIcon.png");
    border: none;
    outline: none;
    cursor: pointer;
}    