.avatar {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.10);
}


.Logo {
    font-weight: 600;
    font-size: 20px;
}

.search-box {
    width: 300px;
    height: 36px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 20px;
}

.search-btn {
    height: 20px;
    width: 20px;
    top: 20px;
    background: url("../../image/Header/SearchIcon.png");
    border: none;
    outline: none;
    cursor: pointer;
}    