.Show {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
}

.TypeList {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    width: 315px;
    height: 315px;
}

.Title{
    font-size: 56px;
    font-weight:600;
}

.Introduction {
    font-size: 16px;
    opacity: 0.7;
}

.WorkCard {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.10);
    border-radius: 4px;
}


.Works {
    width: 248px;
    height: 180px;
    object-fit: cover;
}

.WorkName{
    font-size: 16px;
    font-weight:400;
}
